.card{
    background: rgba(226, 226, 235, 0.2);
    padding: 1rem 1rem;
    color: rgba(6, 12, 100, 0.7);
    font-weight: 600;
    font-size: 15px;
    display: flex;
}

.card-body{
    color: rgba(6, 12, 100, 0.7);
    padding-top: 20%;

}

.form-group {
    padding-top: 10%;
    
}

