<button type="button" class="btn btn-primary btn-block" routerLink="/">Toters</button>

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5 mx-auto mb-5">Equipe Toters Turma Rio de Janeiro 2020</h2>
  <!-- Section description -->
  <p class="dark-grey-text w-responsive mx-auto mb-5 text-center">"Quando você começar sua carreira, procure oportunidades, procure crescimento, procure impacto, procure uma missão. Mova-se para os lados, para baixo, para frente e para fora. Construa suas habilidades"</p>
  <!-- Grid row -->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
      <!--Card-->
      <mdb-card class="testimonial-card">
        <!--Background color-->
        <div class="card-up blue-gradient">
        </div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img [src]="EdwimR" class="rounded-circle img-fluid">
        </div>
        <mdb-card-body>
          <!--Name-->
          <h4 class="font-weight-bold mb-4 text-center">Edwin Ramirez</h4>
          <hr>
          <!--Quotation-->
          <p class="dark-grey-text mt-4 text-center">
            <i class="fas fa-quote-left pr-2 "></i>Desenvolvedor full stack.
            Não importam as circunstâncias e não importam as adversidades, por mais difícil que seja eu vou seguir em frente e vou reunir todas as forças para que eu me transforme cada vez mais na pessoa que eu decidir ser.</p>
        </mdb-card-body>
      </mdb-card>
      <!--Card-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
      <!--Card-->
      <mdb-card class="testimonial-card">
        <!--Background color-->
        <div class="card-up blue-gradient">
        </div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img [src]="AndreaM" class="rounded-circle img-fluid">
        </div>
        <mdb-card-body>
          <!--Name-->
          <h4 class="font-weight-bold mb-4 text-center">Andrea Montoya</h4>
          <hr>
          <!--Quotation-->
          <p class="dark-grey-text mt-4">
            <i class="fas fa-quote-left pr-2 text-center" ></i>Desenvolvedora full Stack. Pedagoga do coração.
            Você nunca sabe que resultados virão da sua ação. Mas se você não fizer nada, não existirão resultados.</p>
            
        </mdb-card-body>
      </mdb-card>
      
      <!--Card-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6">
      <!--Card-->
      <mdb-card class="testimonial-card">
        <!--Background color-->
        <div class="card-up indigo"></div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img [src]="JulioM" class="rounded-circle img-fluid">
        </div>
        <mdb-card-body>
          <!--Name-->
          <h4 class="font-weight-bold mb-4 text-center">Julio Andres Montoya</h4>
          <hr>
          <!--Quotation-->
          <p class="dark-grey-text mt-4">
            <i class="fas fa-quote-left pr-2 text-center"></i> Desenvolvedor full Stack. Estudante Engenharia de Manutenção. 
            “Não são as circunstâncias que causam resultados – são as pessoas” </p>
        </mdb-card-body>
      </mdb-card>
      <!--Card-->
    </div>
    <!--Grid column-->

  </div>


