.dsc-footer {
    height: 60px;
    width: 100%;
    padding: 0.5rem 1rem;
    background: rgba(184, 183, 190, 0.2);
    color: rgba(10, 19, 19, 0.7);
    text-align: center;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}